pandas==3.0.1
numpy==2.4.2
matplotlib==3.10.8
scikit-learn==1.8.0
pygam==0.9.1
lime==0.2.0.1
shap==0.45.0
tensorflow==2.18.0
torch==2.6.0
transformers==4.49.0
opencv-python==4.11.0.86
requests==2.32.3
dice-ml==0.12